 .layout-wrap{
      background: linear-gradient( #f7f7f7 0%, #ffffff 100%);
      position: relative;
      }
      .layout-wrap:before {
      display: block;
      content: '';
      width: 350px;
      height: 350px;
      position: absolute;
      left: 0px;
      border-radius: 50px;
      background: rgb(255 255 255);
      transform: rotate( 45deg);
      top: 50px;
      }
      .layout-wrap:after {
      display: block;
      content: '';
      width: 350px;
      height: 350px;
      position: absolute;
      right: -80px;
      border-radius: 50px;
      background: rgb(255 255 255);
      transform: rotate( 45deg);
      bottom: 80px;
      z-index: 0;
      }
      #exampleModal  {
      position: static;
      padding: 0!important;
      }
      #exampleModal button.close {
      color: #fff;
      opacity: 1;
      font-weight: normal;
      font-size: 24px;
      }
      .modal-backdrop.show{
      position: static;
      }
      #exampleModal .modal-dialog {
      padding: 0;
      margin: 0 auto;
      max-width: 100%;
      }
      #exampleModal .modal-header{
      background: #bebc35;
      }
      h5#exampleModalLabel {
      color: #fff;
      font-weight: bold;
      }
      #exampleModal .modal-footer {
      border: none;
      margin: 4rem 0 1rem 0;
      }
      .my_form input {
      background: transparent;
      border: none;
      border-bottom: 2px solid #ced4da;
      border-radius: 0;
      width: 100!important%
      }
      .my_form span.input-group-append {
      display: none;
      }
      span#errorMsg {
      color: red;
      text-align: center;
      }
      #mainTable tr .checkbox  {
      display: none;
      }
      #mainTable tr.done .checkbox {
      display: block;
      }
      .pipe{ margin: 0 5px; }
      @media (max-width: 991px) {
      .layout-wrap:before{
      content: none;
      }
      .layout-wrap:after {
      content: none;
      }
      .ul-widget6__item--table{
            height: auto;
      }
      }